<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salvo</title>
   
   
 <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
 <link rel="stylesheet" href="styles/games.css">
 <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
</head>
<body>
        <audio  src="audio/Space Travelling - 16-bit Mix.mp3" type="audio/mp3" onload autoplay></audio> 

    <div id="tablevue">
<div class="titlecont">
        <div class="titol">SPACE</div>
        <div class="dogs">DOGS</div>
    </div>
    <div v-on:click="createGame()" class="creategame">
            <button class="buttonCreate" type="button">CREATE GAME</button> 
            </div>   
<div class="tables">
    <div>
        <table id="firstTable" class="table">
           
<thead>
    <td class="header">ID</td>
    <td class="header">DATE</td>
    <td class="header">PLAYER 1</td>
    <td class="header">PLAYER 2</td>
    <td class="header">ACTIONS</td>
    
</thead>
<tbody>
<tr v-for="game in games.games">
    <td>{{game.id}}</td>
    <td>{{getDates(games.created)}}</td>
    <td v-for="gameplayer in game.gameplayers" v-if="game.gameplayers.length == 2">{{gameplayer.player.userName}}</td>
    <td v-if="game.gameplayers.length == 1" > {{game.gameplayers[0].player.userName}}</td>
    <td v-if="game.gameplayers.length == 1"> Waiting...</td>
    <td v-if="game.gameplayers.length == 2 && (game.gameplayers[0].player.userName == users || game.gameplayers[1].player.userName == users)">
        <a v-bind:href="'game.html?gp='+ giveMeId(game.gameplayers)"><button type="button" class="buttons">Enter</button></a>
    </td>
    <td v-if="game.gameplayers.length == 2 && (game.gameplayers[0].player.userName != users && game.gameplayers[1].player.userName != users)">
        <span>Full</span>
    </td>
<td v-if="game.gameplayers.length == 1 && (game.gameplayers[0].player.userName != users)">
    <button @click="joinGame(game.id)" type="button" class="buttons">Join</button>
</td> 

<td v-if="game.gameplayers.length == 1 && (game.gameplayers[0].player.userName == users)">
    <a v-bind:href="'game.html?gp='+game.gameplayers[0].id"><button type="button" class="buttons">Enter</button></a>
</td>
<td v-if="game.gameplayers.length == 0">
    <button type="button">Join</button>
</td>


</tr>

</tbody>


</table>
</div>
<div>
<table id="table2" class="table">
<thead>
    <td td class="header">NAMES</td>
    <td td class="header">WINS</td>
    <td td class="header">LOSSES</td>
    <td td class="header">TIES</td>
    <td td class="header">POINTS</td>
</thead>
<tbody>
    <tr v-for="score,index in scores">
            <td> {{index}} </td>
            <td>{{score.wins}}</td>
            <td>{{score.losses}}</td>
            <td>{{score.ties}}</td>
            <td>{{score.total}}</td>

    </tr>
  
</tbody>
</table>
</div>
</div>
<div  v-on:click="logOut()">
        <button type="button" class="logout">Log Out</button>

</div>

</div>
<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="scripts/games.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
</body>
</html>
